.titulo{
    text-align: center;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.foto{
    width: 200px;
    height: auto;
    border-radius: 10px;

}
.foto img{
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
}
.foto img:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}